body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header .mainOverskrift {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0px 50px 0px
}


.flex-container {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
}

.flex-container div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.besked {
    background-color: green;
}

.aflevering {
    background-color: crimson;
}

.Onenote {
    background-color: orangered;
}

.Filer {
    background-color: blue;
}

.flex-container h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.flex-container p {
    color: white;
    text-align: center;;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}
